
div{
    color: rgb(255, 255, 255);
    font-size: 15px;
    justify-content: center;
   display: flex;
    
}
.pagina{
    color: white;
    margin: 15px;
    padding: 35px;
    justify-content: center;
    display: flex;
    display: space-around; 
    text-decoration: none;
}
nav{
    display: flex;
    background-color: rgb(0, 0, 0);
justify-content: space-around;

}
body{
    background: rgb(194, 137, 137);
}

header{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 10px;
    justify-content: center;
    display: flex;
}

.navbar-nav{
    display: flex;
    justify-content: center
    width: 100px;
}